[access "refs/*"]
  read = group tripleo-ci-rdo-core
  owner = group tripleo-ci-rdo-ptl
	abandon = group rdo-superusers
[access "refs/heads/*"]
  label-Code-Review = -2..+2 group tripleo-ci-rdo-core
  label-Code-Review = -2..+2 group tripleo-ci-rdo-ptl
  label-Verified = -2..+2 group tripleo-ci-rdo-ptl
  label-Workflow = -1..+1 group tripleo-ci-rdo-core
  label-Workflow = -1..+1 group tripleo-ci-rdo-ptl
  label-Workflow = -1..+0 group Registered Users
  submit = group tripleo-ci-rdo-ptl
  read = group Registered Users
  read = group tripleo-ci-rdo-core
[access "refs/meta/config"]
  read = group Registered Users
  read = group tripleo-ci-rdo-core
[receive]
  requireChangeId = true
[submit]
  mergeContent = false
  action = fast forward only
[project]
        description = A repo to create gerrit review to allow to trigger periodic job
